@model NewBrainfieldNetCore.Viewmodels.HomePageViewModel

@{
    ViewData["Title"] = "Clean DDD Architecture Sample";
}

<div class="main-banner">
    <div class="container">
        <div class="main-banner-content">
            <div class="home-slides">
                <div class="hero-content">
                    <h1>Welcome To <span>EduField</span></h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                    <a href="about.html" class="btn btn-primary">Read More</a>
                </div>
                <div class="hero-content">
                    <h1>Are you Ready to <span>Apply</span></h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                    <a href="admission.html" class="btn btn-primary">Apply Now</a>
                </div>
                <div class="hero-content">
                    <h1>Welcome To <span>EduField</span></h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                    <a href="about.html" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="animation-shape">
        <div class="shape1"><img src="assets/img/shape1.png" alt="shape" /></div>
        <div class="shape2"><img src="assets/img/shape2.png" alt="shape" /></div>
    </div>
</div>

<section class="why-choose-us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12"><div class="image"></div></div>
            <div class="col-lg-6 col-md-12">
                <div class="why-choose ptb-100">
                    <h3>Why Choose Us</h3>
                    <div class="single-choose">
                        <div class="icon"><i class="icofont-book-alt"></i></div>
                        <div class="content">
                            <h4>Popular Courses</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="single-choose">
                        <div class="icon"><i class="icofont-teacher"></i></div>
                        <div class="content">
                            <h4>Qualified Teachers</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="single-choose mb-0">
                        <div class="icon"><i class="icofont-support"></i></div>
                        <div class="content">
                            <h4>24/7 Online Support</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="courses-area ptb-100 ptb-100">
    <div class="container">
        <div class="section-title">
            <h3>Featured Courses</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco .</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="courses-item">
                    <div class="courses-img"><img src="assets/img/course-one.jpg" alt="course" /></div>
                    <div class="courses-content">
                        <h3>
                            <a href="#">
                                Machine Learning
                            </a>
                        </h3>
                        <p class="text-truncate">Random text goes here</p>
                    </div>
                    <div class="courses-content-bottom">
                        <h4 class="price">
                            <span>₹ 100</span>
                            ₹ 80
                        </h4>
                        <h4>
                            <a class="btn btn-primary" asp-controller="Exams" asp-action="SingleExam" asp-route-id=1>
                                Exam Details
                            </a>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="courses-item">
                    <div class="courses-img"><img src="assets/img/client3.jpg" alt="course" /></div>
                    <div class="courses-content">
                        <h3>
                            <a href="#">
                                Machine Learning
                            </a>
                        </h3>
                        <p class="text-truncate">Random text goes here</p>
                    </div>
                    <div class="courses-content-bottom">
                        <h4 class="price">
                            <span>₹ 100</span>
                            ₹ 80
                        </h4>
                        <h4>
                            <a class="btn btn-primary" asp-controller="Exams" asp-action="SingleExam" asp-route-id=1>
                                Exam Details
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fun-facts-area facts-bg ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="fun-fact">
                    <div class="icon bg-1"><img src="assets/img/icon1.png" alt="icon" /></div>
                    <h3><span class="count">2500</span>+</h3>
                    <h5>Students</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="fun-fact">
                    <div class="icon bg-2"><img src="assets/img/icon2.png" alt="icon" /></div>
                    <h3><span class="count">100</span>+</h3>
                    <h5>Teachers</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="fun-fact">
                    <div class="icon bg-3"><img src="assets/img/icon3.png" alt="icon" /></div>
                    <h3><span class="count">55</span>+</h3>
                    <h5>Winnings Awards</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="fun-fact">
                    <div class="icon bg-4"><img src="assets/img/icon4.png" alt="icon" /></div>
                    <h3><span class="count">1236</span>+</h3>
                    <h5>Certified Students</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-it-works ptb-100">
    <div class="container">
        <div class="section-title">
            <h3>How It Works<span>?</span></h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="work-process">
                    <i class="icofont-search-document"></i>
                    <h3>Search Courses</h3>
                    <p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent rreloquentiam id.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="work-process">
                    <i class="icofont-info"></i>
                    <h3>View Course Details</h3>
                    <p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent rreloquentiam id.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="work-process">
                    <i class="icofont-like"></i>
                    <h3>Apply, Enroll or Register</h3>
                    <p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent rreloquentiam id.</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="view-all text-center">
                    <a href="#" class="btn btn-primary">Register Now <i class="icofont-rounded-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h3>Testimonials</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco .</p>
        </div>
    </div>
    <div class="row m-0">
        <div class="testimonials-slider">
            @foreach (var testimonial in Model.Testimonials)
            {
                <div class="col-lg-12 col-md-12">
                    <div class="single-feedback" style="height:250px;">                        
                        <img src="~/assets/img/vector.png" />
                        <div class="feedback-content">
                            <i>
                                <img src="~/Images/Testimonials/@testimonial.StudentImage" alt="@testimonial.TestimonialBy" style="height:100%" />
                            </i>
                            <p>
                                @testimonial.TestimonialText
                            </p>
                            <h3>@testimonial.TestimonialBy</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="newsletter-area ptb-100">
    <div class="container">
        <div class="newsletter">
            <h3>Sign up to our newsletter</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <form><input class="form-control" placeholder="Enter your email address..." /> <button type="submit" class="btn btn-primary">Subscribe Now</button></form>
        </div>
    </div>
</section>

<section class="news-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h3>Brainfield News</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco .</p>
        </div>
        <div class="row">
            <div class="news-slider">
                @foreach (var news in Model.Blogs)
                {
                    <div class="col-lg-12 col-md-12">
                        <div class="single-blog-post">
                            <img src="~/Images/Blog/@news.BlogImage" alt="blog" />
                            <div class="date"><span>@news.CreatedDate.ToShortDateString()</span></div>
                            <div class="blog-post-content">
                                <h3><a href="#">@news.BlogTitle</a></h3>
                                <p class="text-truncate">@news.BlogContent</p>
                                <a href="#" class="read-more">
                                    <span class="left">
                                        <i class="icofont-rounded-double-right"></i>
                                    </span> Read More
                                    <span class="right">
                                        <i class="icofont-rounded-double-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>