@model List<NewBrainfieldNetCore.Viewmodels.StudentStudyMaterialCatwiseIndexViewModel>
@{
    Layout = "_FrontendLayout";
}

<style>
    #OrderModal .form-control {
        border: 1px solid #ced4da !important;
        border-radius: 0.25rem !important;
        transition: border-color .15s;
    }
</style>


<div class="page-title">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h3>Study Material</h3>
            </div>
        </div>
    </div>
</div>


<section class="courses-area ptb-100">
    <div class="container">
        <div class="row">
            @foreach (var exam in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="courses-item">
                        <div class="courses-img">
                            <img src="~/Images/StudyMaterialFileCoverPic/@exam.ImageName" alt="@exam.Title" />
                        </div>
                        <div class="courses-content">
                            <h3>
                                <a asp-controller="Exams" asp-action="SingleExam" asp-route-id="@exam.StudyMaterialId">
                                    @exam.Title
                                </a>
                            </h3>
                            <p class="text-truncate">@exam.Description</p>
                        </div>
                        <div class="courses-content-bottom">
                            <h4 class="price">
                                ₹ @exam.Price
                            </h4>
                            <h4>
                                <a asp-action="Checkout" asp-controller="StudyMaterial" asp-route-id="@exam.StudyMaterialId" class="btn btn-primary" id="BuyNow">
                                    Buy Now
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>